@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box ;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
}
:root{
   --bg-color: #1f242d;
   --second-bg-color: #323946;
   --text-color:#fff;
   --main-color:#0eff;
}

section{
   max-height: 100vh;
   padding: 10rem 9% 2rem;
}
.about-img{
    position: relative;
    height: 100vh;
    width: 100rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
/* .boom{
   height: 15vh;
} */
.kettle{
   height: 23rem;
}
.about-img img{
   width: 70rem;
   height: 40rem;
   border-radius: 60%;
   border: .9rem solid var(--main-color);
   color: var(--main-color);
}
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9%;
   background:var(--bg-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.header .sticky{
   border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
 
.logo{
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 600;
   cursor: default;
   animation: slideRight 1s ease forwards;
}
.navbar a {
   font-size: 1.4rem;
   color: var(--text-color);
   margin-left: 4rem;
   transition: .3s ;
   opacity: 0;
   animation: slideTop .5s ease forwards;
}
.navbar a:hover,
.navbar a.active {
   color: var(--main-color);
   transition: 0.5s;
}
 
#menu_icon {
   font-size: 3.4rem;
   color: var(--text-color);
   display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    position :relative;
}

 
.home-content h3{
   font-size: 3.3rem;
   font-weight: 700;
   opacity: 0;
   animation: slideBottom 1s ease forwards;
 
}
.home-content h1{
   font-size: 3.6rem;
   font-weight: 700;
   line-height: 1.5;
   animation: slideRight 1s ease forwards;
   animation-delay: .1s;
}
.home-img{
   position: sticky ;
}
.home-img img{
   /* position: absolute; */
   width: 25vw;
   height: 80vh;
   animation: slideTop 2s ease-in-out forwards;  
}
.sized{
   width: 10vw;
}
.home-content p{
   font-size: 1.8rem;
   font-weight: 750;
   font-style: var(--bg-color);
   animation : slideLeft 1s ease forwards;
  
}
@keyframes slideRight{
   0%{
      transform: translateX(-100px);
      opacity: 0;
   }
   100%{
      transform: translateX(0px);
      opacity: 1;
   }
    
}
@keyframes slideLeft{
   0%{
      transform: translateX(100px);
   }
   100%{
      transform: translateX(0px);
      opacity: 1;
   }
}
@keyframes slideTop{
   0%{
      transform: translateY(-100px);
   }
   100%{
      transform: translateY(0px);
      opacity: 1;
   }
}
@keyframes slideBottom{
   0%{
      transform: translateY(-100px);
   }
   100%{
      transform: translateY(0px);
      opacity: 1;
   }
}

span{
   color: var(--main-color);
}

.social-media a {
   display:inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main-color);
   transition: .5s ease;
   animation: slideLeft 1s ease forwards;
   animation-delay: calc(.2s*var(--i)); 
   margin: 3rem 1.5rem 3rem 0;
}
 .social-media a:hover{
   background: var(--main-color);
   color: var(--second-bg-color);
   box-shadow: 0 0 1rem (--main-color);
}
 .home-content h3:nth-of-type(2){
margin-bottom: 30px;
animation: slideTop .7s ease forwards;

 }
 .btn{
   display: inline-block;
   padding: 1rem 2.8rem;
   background:var(--main-color);
   border-radius: 4rem;
   box-shadow: 0 0 1rem var(--main-color);
   font-size: 1.6rem;
   color: var(--second-bg-color);
   letter-spacing: .1rem;
   font-weight: 600;
   transition: .5s ease;
   animation: slideBottom 1s ease forwards;
   /* animation-delay: .1s; */
   box-shadow:0 0 5px #0eff;
     
 }
 .btn:hover{
   box-shadow: none; 
 }
 .about{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   background-color: var(--second-bg-color);

}
.about-img img{
   width: 27vw;
   height: 27vw;
   border-radius: 50%;  
   box-shadow: 0 0 30px var(--main-color);
}
.heading{
   text-align: center;
   font-size: 4.7rem;
   }
.about-content h2{
   text-align: left;
   line-height: 1.3;
}
.about-content{
   /* padding: 0 0 50rem;  */
   font-size: 2.8rem;
}
.about-content p{
   font-size: 1.6rem;
   margin: 2rem 0 3rem;
}

.services h2{
   margin-bottom: 5rem;
}

.services-container{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.services-container .services-box{
   flex: 1 1 30rem;
   background: var(--second-bg-color);
   padding: 3rem 2rem 4rem ;
   border-radius: 2rem ;
   text-align: center;
   border: .2rem solid var(--bg-color);
   transition: .5s ease;
}
.services-container .services-box:hover{
   border-color: var(--main-color);
   transform: scale(1.02);
}
.services-box i{
   font-size: 6rem;
   color: var(--main-color);
}
.services-box h3{
   font-size: 2.6rem;
   margin: 1rem 0 3rem;
}
.services-box p{
   font-size: 1.6rem;
   margin: 1rem 0 3rem;
}

.portfolio{
   background:var(--bg-color);

}
.portfolio h2{
   margin-bottom: 4rem;
}

.portfolio-container{
   display: grid;
   height: 100%;
   padding: 4rem 4rem;
   grid-template-columns: repeat(3, 1fr);
   align-content: space-between;
   /* align-content: space-around; */
   justify-content: space-between;
   gap: 2rem;
   row-gap: 10vh;
   /* white-space: 20px; */
}
.pcont2{
   padding: 2rem;
   display: grid;
   /* padding: 4rem; */
   /* grid-template-columns: repeat(3, 1fr); */
   /* align-items: center; */
   align-content: space-evenly;
   justify-content: space-around;
   row-gap: 2rem;
   /* gap: 2.5rem; */
}
.portfolio-container .portfolio-box{

   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color) ;
   overflow: hidden;
   display: grid;
   /* align-content: space-around; */
   /* row-gap: 2.5rem; */
   /* justify-content: space-around; */
}
.portfolio-box img{
   width: 100%;
   transition: .5s ease;
 }
.portfolio-box .portfolio-layer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,.1 ),var(--main-color));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 4rem;   
   /* here   */
   transform: translateY(100% );
   transition: .5s ease;
}
.portfolio-layer h4{
   font-size: 3rem;
}

.portfolio-box:hover img{
   transform: scale(1.1);
}
.portfolio-layer p{
   font-size: 1.6rem;
   margin: .3rem  0 1rem;
}
.portfolio-layer a{
   display: inline-flex;
   justify-content: center ;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--text-color);
   border-radius: 50%;
}

.portfolio-layer a in {
   font-size: 2rem;
   color: var(--second-bg-color);

}
.portfolio-box:hover .portfolio-layer{
   transform: translateY(0);
}

.contact h2{
   margin-bottom: 3rem;
}

.contact form {
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
}

.contact form .input-box{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
   width:100%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text-color);
   background: var(--bg-color);
   border-radius: .8rem;
   margin: .7rem 0;
}
.contact form .input-box input{
   width: 49%;
}

.contact form textarea{
   resize: none;
}

.contact form .btn{
   margin-top: 2rem;
   cursor: pointer;
}

.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background:var(--bg-color);

}
.footer-text p {
   font-size: 1.6rem;
}
.footer-iconTop a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .8rem;
   background: var(--main-color);
   border-radius: .8rem;
   transition: .5s ease;
}
.footer-iconTop a:hover{
   box-shadow: 0 0 1rem var(--main-color);
}

.foooter-iconTop a i{
   font-size: 2.6rem;
   color: var(--bg-color);
} 
  .contact{
   background:var(--second-bg-color);

}  

/* breakpoints */

@media (max-width: 1200px){
   html{
      font-size: 55%;
   }
}
@media(max-width: 991px){
   .header{
      padding: 2rem 3%;
   }
   section{
        padding:10rem 3% 2rem;
   }

   .services{
      padding-bottom: 7rem;
   }
   .portfolio{
      padding-bottom: 7rem;
   }
   .contact{
      min-height: auto;
   }
   .footer{
      padding: 2rem 3%;

   }
}
@media(max-width:768px){

   #menu-icon{
      display: block;
   }
   .navbar{
      position: absolute;
      top:100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0,0, 0,.2);
      box-shadow: 0 .5rem 1rem rgba(0,0, 0,.2);
      display: none;
}

      .navbar.active{
         display: block;

      }
      .navbar a{
         display: block;
         font-size: 2rem;
         margin : 3rem 0;

      }
      .home{
         flex-direction:column;
     }
     .home-content h3{
      font-size: 2.6rem;
     }
     .home-content h1{
      font-size: 5rem;
     }
     .home-img img{
      width: 70vw;
      margin-top: 4rem;

     }
     .about{
      flex-direction: column-reverse;
     }
     .about-content{
      width:70vw;
      margin-top: 4rem; 
     }
     .services h2{
      margin-bottom: 3rem;
     }
     .portfolio h2{
      margin-bottom: 3rem;
     }
     .portfolio-container{
      grid-template-columns: repeat(2, 1fr);

     }

}
@media(max-width: 617px){
   .portfolio-container{
      grid-template-columns: 1fr;
   }
}

@media(max-width: 450px)
{
   html{
      font-size: 50%;
   }
   .contact form .input-box input{
      width: 100%
   }
}

@media ( max-width: 365px){
   .home-img img{
      width: 90vw;
   }
      .about-img img{
        width: 90vw;
      }
 
       .footer{
         flex-direction: column-reverse;
       }
       .footer p{
         text-align: center;
         margin-top: 2rem;

       }
}
.Education{
   /* height: 200vh; */
   display: grid;
   /* height: 400vh; */
    align-content: space-evenly;
   /* justify-content: space-evenly; */
   /* row-gap: 20px; */
   /* padding-bottom: 4rem; */
   /* height: 400vh; */
   /* align-content: space-evenly;
   justify-content: space-evenly; */
   background:var(--second-bg-color);
   padding: 50px 50px; 
}
/* #education{
   padding: 50px;
   height: 9000px;
} */
.spacer{
   height: 10rem;
}
.portfolio-second{
   background:var(--bg-color);

}
.portfolio-second h2{
   margin-bottom: 4rem;
}

.portfolio-cont{
   display: grid;
   height: 100%;
   padding: 5rem 5rem;
   grid-template-columns: repeat(3, 1fr);
   align-content: space-evenly;
   /* align-content: space-around; */
   justify-content: space-evenly;
   gap: 4rem;
   row-gap: 10vh;
   /* white-space: 20px; */
}
.portfolio-cont .portfolio-boxes{

   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color) ;
   overflow: hidden;
   display: grid;
   /* align-content: space-around; */
   /* row-gap: 2.5rem; */
   /* justify-content: space-around; */
}
.portfolio-boxes img{
   width: 100%;
   transition: .5s ease;
 }
.portfolio-boxes .portfolio-layer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,.1 ),var(--main-color));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 4rem;   
   /* here   */
   transform: translateY(100% );
   transition: .5s ease;
}
.portfolio-layer h4{
   font-size: 3rem;
}

.portfolio-boxes:hover img{
   transform: scale(1.1);
}
.portfolio-layer p{
   font-size: 1.6rem;
   margin: .3rem  0 1rem;
}
.portfolio-layer a{
   display: inline-flex;
   justify-content: center ;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--text-color);
   border-radius: 50%;
}

.portfolio-layer a in {
   font-size: 2rem;
   color: var(--second-bg-color);

}
.portfolio-boxes:hover .portfolio-layer{
   transform: translateY(0);
}

 .background{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),);
   background-size: cover;
   background-position: center;
   position:relative
 } 
  .navbar .home1{
     position :absolute;
     right:10%;
     top:43%;
     transform: -40%,-60%;
     font-size: 30px; 
} 

.navbar .button{
   position: absolute;
   top: 79.5%;
   left: 27%;
   transform: translate(-50%,-50%);
   background-color: BLACK;
   font-family: sans-serif;
   font-size: 16px;
   color: WHITE;
   font-weight: bold;
   padding: 16px 30px;
   cursor: pointer;
   border-radius: 35px;
   text-align: center;
   background: transparent;
   border: 3.3px solid var(--main-color);
} 
.navbar .button2{
   position: absolute;
   top: 79.5%;
   left: 17%;
   transform: translate(-50%,-50%);
   background-color: BLACK;
   font-family: sans-serif;
   font-size: 16px;
   color: WHITE;
   font-weight: bold;
   padding: 16px 30px;
   cursor: pointer;
   border-radius: 35px;
   text-align: center;
   background: transparent;
   border: 3.3px solid var(--main-color);
} 
.button:hover{
   background-color: var(--main-color);
   color:black
}
.button2:hover{
   background-color: var(--main-color);
   color:black;
}
.navbar .home1 p{
   font-size: 20px;
}
.navbar .home1 h3{
   position: absolute;
   top: 15%;
   right:35%; 
   transform: translate(-0.7%,-270%);
   font-size: 55px;
   font-family: sans-serif;
   font-weight: bold;  
   
}
.services-box h4{
   font-size: 20px;
}
.spacer{
   height: 10rem;
}
.services h2{
   
   padding: -20px 0px; 
  
}

.logo1{
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 600;
   cursor: default;
   padding-left: 25%;
   text-align: center;
   animation: slideRight 1s ease forwards;
}
 
.navbar .home2 p{
   font-size: 20px;
}
.home2 h2{
   position: absolute;
   top: 15%;
   right:35%; 
   transform: translate(-0.7%,-270%);
   font-size: 53px;
   font-family: sans-serif;
   font-weight: bold;  
   
}
.navbar .home1 h2{
   position :absolute;
   right:10%;
   top:43%;
   transform: -40%,-60%;
   font-size: 30px; 
} 

 
.navbar .homedata {
   position :absolute;
   right:50%;
   top:43%;
   transform: -40%,-60%;
   font-size: 30px; 
}

.navbar .button1{
   position: absolute;
   top: 79.5%;
   left: 10%;
   transform: translate(-50%,-50%);
   background-color: BLACK;
   font-family: sans-serif;
   font-size: 16px;
   color: WHITE;
   font-weight: bold;
   padding: 16px 30px;
   cursor: pointer;
   border-radius: 35px;
   text-align: center;
   background: transparent;
   border: 3.3px solid var(--main-color);
} 
.button1:hover{
   background-color: var(--main-color);
   color:black
}
.certificates{
   padding: 20px 0;
   background-color: var(--second-bg-color)
}
.description{
   padding: 60px;
}
.description h2
{
   padding:  20px 80px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 22px;
}

.Course-1{
   width: 100%;
   height: 100vh;
   padding: 25px 75px;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),);
   background-size: cover;
   background-position: center;
   position:relative

} 
.ending1{
   align-items: baseline;
   background:var(--bg-color);

}

.skills .button1{
   position: absolute;
   background-color: BLACK;
   font-family: sans-serif;
   font-size: 16px;
   color: WHITE;
   font-weight: bold;
   padding: 13px 30px;
   cursor: pointer;
   border-radius: 35px;
   text-align: center;
   background: transparent;
   border: 3.3px solid var(--main-color);
 }
 .button1:hover{
   background-color: var(--main-color);
   color:black
}
 

/* .footer1{
   display: inline-flex;
   justify-content: bottom;
   align-items: bottom;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background:var(--second-bg-color);

}
.footer1-text p {
   font-size: 1.6rem;
}
.footer1-iconTop a{
   display: inline-flex;
   justify-content: bottom;
   align-items: center;
   padding: .8rem;
   background: var(--main-color);
   border-radius: .8rem;
   transition: .5s ease;
}
.footer1-iconTop a:hover{
   box-shadow: 0 0 1rem var(--main-color);
}

.foooter1-iconTop a i{
   font-size: 2.6rem;
   color: var(--bg-color);
}  */

html{
   font-size: 62.5%;
   overflow-x:hidden;
    


}
body{
    
   background: var(--bg-color);
   color: var(--text-color);
}